* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkcyan;
}

body {
  background: url(http://selectbutton.jp/apps/manbo_en/img/bg.png);
<<<<<<< HEAD
  margin: 100px;
=======
  margin: 20px;
>>>>>>> 888122c76b98b4c241406cb178e496648674be1d
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1, h2 {
  text-align: center;
}